/*ViLaRa´s brandcolor  
Strong grey #383536
Red #e03c31
Less grey #9F9F9F
Viwhite #E8EAE1*/

/*General styles*/
* {
    font-family: 'Oswald', sans-serif;
}

body {
    background-color: #383536;
}

/*Not showing in desktop*/
.mdl-layout__drawer-button {
    background-image: url(https://i.ibb.co/KxcCvFf/logo-Vi-La-Ra2-2-ok.png);
    background-repeat: no-repeat;
    background-position: 0% 50%;
    background-size: 12rem;
    width: 15rem !important;
}

.material-icons {
display: none !important;
}

/*Principal components/views styles*/
/* background-image: url(https://i.ibb.co/KxcCvFf/logo-Vi-La-Ra2-2-ok.png); */

/*Navbar header styles*/
.header-color {
    background: #e03c31 !important;
}

.mdl-layout-title {
    font-family: 'Oswald', sans-serif !important;
}

.box-logo{
    display: flex;
    justify-content: flex-start;
}

/*SideMenu of hamburguerIcon styles*/
.mdl-layout__drawer.is-visible {
    background-color: white;
    color: #000000;
}    

/*LandingView styles*/
.avatar-img {
    border-top-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

