/*Brandcolors ViLaRa 
Strong grey #383536
Red #e03c31
Less grey #9F9F9F
*/

/*General styles*/

* {
    font-family: 'Oswald', sans-serif;
}

body {
    background-color: #383536;
}

/*Navbar header styles*/
.header-color {
    background: linear-gradient(to top, #e03c31, #e03c31);
}

.mdl-layout-title {
    font-family: 'Oswald', sans-serif !important;
}

.box-logo{
    display: flex;
    justify-content: flex-start;
}

.logo-brand {
    display: none;
}

/*SideMenu of hamburguerIcon styles*/
.mdl-layout__drawer.is-visible {
    background-color: white;
    color: #000000;
}    

/*LandingView styles*/
.avatar-img {
    border-top-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

