/*Brandcolors ViLaRa 
Strong grey #383536
Red #e03c31
Less grey #9F9F9F*/

/*Responsive web design(Media queries: Tablet & mobile vertical)*/
@media screen and (max-width: 1024px) and (orientation: portrait) {
    body {
        background-color: white;
    }
    /*Not showing in responsive*/
    .mdl-layout-title, .mdl-navigation__link, .link-desktop, .avatar-img, .presentation-text, .fa-clock, .fa-mail-bulk {
        display: none !important;
    }

    /*To show in responsive*/
    .mdl-layout__header,.mdl-layout__drawer-button, .material-icons, .logo-brand, .mdl-navigation__link, .link-mobile, .avatar-img-drawer {
        display: block !important;
    }

    /*Navbar header styles*/
    .mdl-layout-title, .material-icons {
        color: white;
    }

    .box-logo {
        display: flex;
        justify-content: flex-end;
    }

    .mdl-layout__drawer-button {
        background-image: none !important;
        width: 5rem !important;
        margin-top: .5rem !important;
    }

    .mdl-navigation__link{
        color: #383536 !important;
    }
    
    .logo-brand {
        width: 18rem;
        margin-right: .3rem;
    }

    /*SideMenu of hamburguerIcon styles*/
    /*icon into sidebar of hamburguer icon*/
    .box-logo-drawer {
        display: flex;
        justify-content: space-around;
        align-content: center;
        margin-top: 2rem;
    }

    /*LandingView styles*/
    .avatar-img-drawer {
        border-top-left-radius: 2rem;
        border-bottom-right-radius: 2rem;
        margin-left: auto;
        margin-right: auto;
        width: 70%;
    }

    .card-box {
        width: 20.5rem !important;
        height: 35rem;
        background-color: #383536 !important;
        text-align: center;
    }

    .card-title, .mdl-card__title {
        display: flex !important;
        justify-content: flex-end !important;
        background-color: #E8EAE1 ;
        background-image: url(https://i.ibb.co/0ZQgcxK/vianeylara-1-1.jpg);
        background-repeat: no-repeat;
        background-position: 50% 50%;
    }

    .mdl-card__supporting-text, p{
        background-color: #e03c31;
    }

    .presentation-box {
        width: 90% !important;
    }
    
    .mdl-button--fab {
        margin: 0.2rem 1.3rem 0.2rem 1rem !important;
        background-color: white !important;
    }

    a , .fas {
        color: #383536 !important;
    }

    i {
        background-color: transparent;
        font-size: 2.3rem !important;
        font-family: "Helvetica", "Arial", sans-serif !important;
    }

    .fa-map-marker-alt, .p-fa-map-marker-alt{
        display: flex;
        width: 3rem;
        justify-content: center;
        align-self: flex-end;
        color:#e03c31 !important;
        background-color: transparent;
    }
}
